page-cadastro-conta {
    .ion-md-trash{
        color: #EF5350;
        margin-left: 20px !important;
        cursor: pointer;
    }
    .ion-md-create{
        margin-left: 20px !important;
        cursor: pointer;
    }
    .input-wrapper{
        display: block;
    }
}
